#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 33rem;
  justify-content: center;

  &__square {
    width: 10rem;
    height: 10rem;
    background-color: "lightgrey";
    border: 2px solid lightblue;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
  }
}
